@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");

//Colors
$white: rgb(238, 238, 238);
$light-gray: #f6f6f6;
$gray: rgb(116, 116, 116);
$dark-gray: #333;
$black: #1b1b1b;

//Variables

//Snippets
%shadow {
	box-shadow: 0 1px 4px 1px rgba($color: #000000, $alpha: 0.2);
}

%flexXY {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flexX {
	display: flex;
	justify-content: center;
}

%flexY {
	display: flex;
	align-items: center;
}

%border-radius {
	border-radius: 3px;
}

%transition {
	transition: 0.2s all ease;
}

//Layout
