@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");

//Colors
$white: #ffffff;
$lighter-grey: rgb(238, 238, 238);
$light-grey: #f6f6f6;
$grey: rgb(223, 223, 223);
$dark-grey: #343434;
$black: #1b1b1b;

$dark-green: #476b2d;
$light-green: #e3efc7;

//Variables
$max-width: 1176px;

//Snippets
%shadow {
	box-shadow: 0 1px 4px 1px rgba($color: #000000, $alpha: 0.2);
}

%flexXY {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flexX {
	display: flex;
	justify-content: center;
}

%flexY {
	display: flex;
	align-items: center;
}

%border-radius {
	border-radius: 3px;
}

%transition {
	transition: 0.2s all ease;
}

//Layout
section {
	height: auto;
	width: 100%;
	@extend %flexX;
}
