@import "../../../utils.scss";

.recipe {
	height: 395px;
	min-width: 265px;
	background-color: $grey;
	@extend %border-radius;
	@extend %shadow;
	position: relative;
	overflow: hidden;

	.background {
		height: 100%;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9) 50%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $white;
		padding: 1em;

		.error-container {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba($color: #000000, $alpha: 0.6);
			z-index: 3;
			@extend %transition;
			opacity: 1;

			&.hidden {
				opacity: 0;
				pointer-events: none;
			}

			span {
				font-size: 0.6em;
			}
		}

		.content-container {
			margin-bottom: 3em;

			.title {
				font-size: 1.3em;
			}

			.subtitle {
				font-size: 0.9em;
				margin-bottom: 0.5em;
				color: $grey;
			}

			.nutritions {
				margin-bottom: 0.5em;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 0.5em;

				&-container {
					height: 50px;
					width: 100%;
					background-color: rgba($color: $white, $alpha: 0.05);
					border: 1px solid rgba($color: #ffffff, $alpha: 0.3);
					@extend %border-radius;
					@extend %flexXY;
					@extend %transition;
					flex-direction: column;
					cursor: default;

					.nutritions-value {
						font-size: 0.9em;
					}

					.nutritions-name {
						font-size: 0.8em;
						color: $light-grey;
					}

					&:hover {
						background-color: rgba($color: $white, $alpha: 0.15);
					}
				}
			}
		}
	}
}
