@import "../../utils.scss";

.main {
	height: 100%;
	width: 100%;

	.header {
		border-bottom: 1px solid $grey;
		&__container {
			width: 100%;
			max-width: $max-width;
			padding: 5em 10em;
			text-align: center;
		}

		&__title {
			font-size: 2em;
			margin-bottom: 0.5em;
		}

		&__description {
			font-size: 0.9em;
		}
	}

	.recipes {
		padding-bottom: 2em;

		&__container {
			@extend %container;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.5em;
		}
	}
}

@media (max-width: 1000px) {
	.main {
		.recipes {
			&__container {
				grid-template-columns: 1fr;
			}
		}
	}
}
