@import "../../utils.scss";

.main {
	height: 100%;
	width: 100%;
	@extend %flexX;
	border-bottom: 1px solid $grey;

	.header {
		&__container {
			max-width: $max-width;
			padding: 5em 10em;
			text-align: center;
		}

		&__title {
			font-size: 2em;
			margin-bottom: 0.5em;
		}

		&__description {
			font-size: 0.9em;
		}
	}
}
