@import "../../../../utils.scss";

.rating {
	height: 20px;
	position: relative;
	display: flex;

	.rating-dynamic {
		height: 100%;
		font-size: 16px;
		top: 0;
		position: absolute;
		@extend %flexY;
		margin-top: 1px;
	}

	.rating-static {
		margin-top: 2px;
		font-size: 16px;
		height: 100%;
		top: 0;
		position: absolute;
		@extend %flexY;

		.rating-star {
			height: 100%;
		}
	}

	> span {
		margin: 0 5px 0 85px;
		height: 100%;
	}

	.user-rated {
		font-size: 0.8em;
		height: 100%;
		@extend %flexY;
		margin-top: 1px;
		color: $grey;
	}
}
