@import "../../utils.scss";

.login {
	height: calc(100vh - 70px);
	width: 100%;

	.container {
		height: fit-content;
		width: 400px;
		margin-top: 2em;
		@extend %border-radius;
		border: 1px solid $light-grey;
		@extend %flexY;
		flex-direction: column;
		padding: 2em;

		.title {
			font-size: 1.3em;
			margin-bottom: 1em;
		}

		form {
			input {
				width: 100%;
				padding: 0.8em 1em;
				@extend %border-radius;
				border: 1px solid $grey;
				margin-bottom: 1em;

				&:last-of-type {
					margin-bottom: 0.5em;
				}
			}

			.form-error {
				width: 100%;
				text-align: center;
				color: red;
				font-weight: bold;
				font-size: 0.8em;
			}
		}
		button {
			width: 100%;
			padding: 1em 2em;
			background-color: $dark-green;
			border: none;
			@extend %border-radius;
			@extend %shadow;
			color: $white;
			font-weight: bold;
			cursor: pointer;
			margin-top: 0.5em;

			&:hover {
				box-shadow: none;
				background-color: darken($color: $dark-green, $amount: 5);
			}
		}

		.shortcut {
			text-align: center;
			margin-top: 1em;
			font-size: 0.9em;
		}
	}
}
